{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _tab_menu     = block('tab_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <!-- jQuery code -->
            <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.10.4.custom.css') }}" media="all">

            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/sb-admin-v2/css/bootstrap.min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/sb-admin-v2/font-awesome/css/font-awesome.min.css") }}" />

            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css") }}" />
            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/sb-admin-v2/css/plugins/timeline/timeline.css") }}" />

            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/sb-admin-v2/css/sb-admin.css") }}" />

            {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
                <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/select2/select2.css") }}" />
                <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/select2/select2-bootstrap.css") }}" />
            {% endif %}

            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/bootstrap3-editable/bootstrap3-editable/css/bootstrap-editable.css") }}" />
            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/css/styles.css") }}" />
            <link rel="stylesheet" href="{{ asset("bundles/sonataadmin/css/layout.css") }}" />
        {% endblock %}

        {% block javascripts %}
            <script>
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
               };
            </script>

            <script src="{{ asset('bundles/sonatajquery/jquery-1.10.2.js') }}"></script>

            <script src="{{ asset('bundles/sonataadmin/sb-admin-v2/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/sonataadmin/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
            <script src="{{ asset('bundles/sonataadmin/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
            <script src="{{ asset('bundles/sonataadmin/sb-admin-v2/js/plugins/morris/morris.js') }}"></script>
            <script src="{{ asset('bundles/sonataadmin/sb-admin-v2/js/sb-admin.js') }}"></script>

            <script src="{{ asset('bundles/sonataadmin/bootstrap3-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>

            <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.10.4.js') }}"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}"></script>

            {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
                <script src="{{ asset("bundles/sonataadmin/select2/select2.min.js") }}"></script>
            {% endif %}

            <script src="{{ asset("bundles/sonataadmin/jquery/jquery.form.js") }}"></script>
            {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}<script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}"></script>{% endif %}
            <script src="{{ asset('bundles/sonataadmin/Admin.js') }}"></script>
        {% endblock %}

        <title>
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {{ menu.label }}
                    {% endfor %}
                {% endif %}
            {% endif%}
        </title>
    </head>
    <body {% block body_attributes %}class="sonata-bc"{% endblock %}>
        <div id="wrapper">
            {# initialize block value #}

            {% block sonata_nav %}
                {% if admin_pool is defined %}
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                {% block logo %}
                                    <a class="navbar-brand" href="{{ url('sonata_admin_dashboard') }}">
                                        <img src="{{ asset(admin_pool.titlelogo) }}" alt="">
                                        {{ admin_pool.title }}
                                    </a>
                                {% endblock %}
                            </div>



                            <div class="collapse navbar-collapse">
                                {% block sonata_breadcrumb %}
                                    {% if _breadcrumb is not empty or action is defined %}
                                        <div class="col-md-6">
                                            <ol class="nav navbar-top-links breadcrumb">
                                                {% if _breadcrumb is empty %}
                                                    {% if action is defined %}
                                                        {% for menu in admin.breadcrumbs(action) %}
                                                            {% if not loop.last  %}
                                                                <li>
                                                                    {% if menu.uri is not empty %}
                                                                        <a href="{{ menu.uri }}">{{ menu.label }}</a>
                                                                    {% else %}
                                                                        {{ menu.label }}
                                                                    {% endif %}
                                                                </li>
                                                            {% else %}
                                                                <li class="active navbar-text">{{ menu.label }}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ _breadcrumb|raw }}
                                                {% endif %}
                                            </ol>
                                        </div>
                                    {% endif %}
                                {% endblock sonata_breadcrumb %}

                                {% block sonata_top_nav_menu %}
                                    <ul class="nav navbar-top-links navbar-right">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                {% include admin_pool.getTemplate('user_block') %}
                                            </ul>
                                        </li>
                                    </ul>
                                {% endblock %}
                            </div>

                        </div>
                    </nav>
                {% endif %}
            {% endblock sonata_nav %}

            {% block sonata_side_nav %}
                <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="side-menu">
                            {% block sonata_side_menu %}
                                {% block sonata_nav_menu_before %}{% endblock %}

                                {% block sonata_nav_menu %}
                                    {% block sonata_top_bar_search %}
                                        {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                            <li class="sidebar-search">
                                                <form action="{{ url('sonata_admin_search') }}" method="GET" {#class="navbar-form navbar-left"#} role="search">
                                                    <div class="input-group custom-search-form">
                                                            <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="submit">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </li>
                                        {% endif %}
                                    {% endblock %}

                                    {% block top_bar_before_nav %} {% endblock %}
                                    {% block sonata_top_bar_nav %}
                                        {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                            {% for group in admin_pool.dashboardgroups %}
                                                {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                                {% for role in group.roles if not display %}
                                                    {% set display = is_granted(role) %}
                                                {% endfor %}

                                                {# Do not display the group label if no item in group is available #}
                                                {% set item_count = 0 %}
                                                {% if display %}
                                                    {% for admin in group.items if item_count == 0 %}
                                                        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                            {% set item_count = item_count+1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                {% if display and (item_count > 0) %}
                                                    <li>
                                                        <a href="#">{{ group.label|trans({}, group.label_catalogue) }} <span class="fa arrow"></span></a>
                                                        <ul class="nav nav-second-level">
                                                            {% for admin in group.items %}
                                                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                                    <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}><a href="{{ admin.generateUrl('list')}}">{{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endblock %}
                                    {% block top_bar_after_nav %} {% endblock %}

                                {% endblock %}

                                {% block sonata_nav_menu_after %}{% endblock %}
                            {% endblock %}
                        </ul>
                    </div>
                </nav>
            {% endblock %}

            {% block sonata_wrapper %}
                <div id="page-wrapper">

                    {% block sonata_page_content %}
                        {% if _tab_menu is not empty or _actions is not empty %}
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-left">
                                        {% if _tab_menu is not empty %}
                                            {{ _tab_menu|raw }}
                                        {% else %}
                                            <ul class="nav navbar-nav">
                                                {{ _actions|raw }}
                                            </ul>
                                        {% endif %}
                                    </div>

                                    {% if _actions is not empty and _tab_menu is not empty %}
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown sonata-actions">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    {{ _actions|raw }}
                                                </ul>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </nav>
                        {% endif %}

                        {% block notice %}
                            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                        {% endblock %}

                        {% block sonata_admin_content %}

                            {#{% if _list_table is empty and _list_filters is empty and _actions is not empty %}#}
                            {#{% if _actions is not empty %}#}
                                {#<div class="row">#}
                                    {#<div class="{% if _list_filters|trim %}col-md-10{% else %}col-md-12{% endif %}">#}
                                        {#{{ _actions|raw }}#}
                                    {#</div>#}
                                {#</div>#}
                                {#<br/>#}
                            {#{% endif %}#}

                            {% if _preview is not empty %}
                                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                            {% endif %}

                            {% if _content is not empty %}
                                <div class="sonata-ba-content">{{ _content|raw }}</div>
                            {% endif %}

                            {% if _show is not empty %}
                                <div class="sonata-ba-show">{{ _show|raw }}</div>
                            {% endif %}

                            {% if _form is not empty %}
                                <div class="sonata-ba-form">{{ _form|raw }}</div>
                            {% endif %}

                            {% if _list_table is not empty or _list_filters is not empty %}
                                <div class="row">
                                    <div class="sonata-ba-list {% if _list_filters|trim %}col-md-10{% else %}col-md-12{% endif %}">
                                        {{ _list_table|raw }}
                                    </div>

                                    {% if _list_filters|trim %}
                                        <div class="sonata-ba-filter col-md-2">
                                            {{ _list_filters|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}

                </div>
            {% endblock sonata_wrapper %}
            {% block footer %}
                <footer>
                    <p class="text-right"><a href="http://sonata-project.org" rel="noreferrer">Powered by the Sonata Project</a></p>
                </footer>
            {% endblock %}
        </div>
    </body>
</html>
