{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block num_pages %}
    <div class="p-2 align-self-center">
        {{ admin.datagrid.pager.page }} / {{ admin.datagrid.pager.lastpage }} -
    </div>
{% endblock %}

{% block num_results %}
    <div class="p-2 align-self-center">
        {% trans with {'%count%': admin.datagrid.pager.countResults()} from 'SonataAdminBundle' %}list_results_count{% endtrans %} -
    </div>
{% endblock %}

{% block max_per_page %}
    <div class="p-2 align-self-center">
        <div class="input-group">
            <div class="input-group-prepend">
                <label for="{{ admin.uniqid }}_per_page" class="input-group-text">{% trans from 'SonataAdminBundle' %}label_per_page{% endtrans %}</label>
            </div>
            <select class="per-page small form-control" id="{{ admin.uniqid }}_per_page" style="width: auto">
                {% for per_page in admin.getperpageoptions %}
                    <option {% if per_page == admin.datagrid.pager.maxperpage %}selected="selected"{% endif %} value="{{ admin.generateUrl(action, {'filter': admin.datagrid.getPaginationParameters(1).filter|merge({
                        (constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PER_PAGE')): per_page})
                    }) }}">
                        {{- per_page -}}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
