{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% spaceless %}
    <input type="text" id="{{ id }}_autocomplete_input" value=""
        class="sonata-model-autocomplete"
        {# use classlist helper for boolean attributes ;) #}
        {{ classlist({
            readonly: read_only,
            disabled: disabled,
            required: required
        }) }}
        data-autocomplete-config="{{ sonata_autocomplete_config_json()|e('html_attr') }}"
    />
    <div id="{{ id }}_hidden_inputs_wrap">
        {% if multiple -%}
            {%- for idx, val in value if idx~'' != '_labels' -%}
                <input type="hidden" name="{{ full_name }}[]" {%- if disabled %} disabled="disabled"{% endif %} value="{{ val }}">
            {%- endfor -%}
        {% else -%}
            <input type="hidden" name="{{ full_name }}" {%- if disabled %} disabled="disabled"{% endif %} value="{{ value[0]|default('') }}">
        {% endif -%}
    </div>
    {# sonata_admin.field_description can be null in filter context #}
    {% if sonata_admin.field_description.associationadmin is defined %}
        {# CRUD actions #}
        {% set associationadmin = sonata_admin.field_description.associationadmin %}
        {% set display_btn_show = (
            not multiple
            and associationadmin.hasroute('show')
            and associationadmin.isGranted('VIEW')
            and btn_show
        ) %}
        {% set display_btn_edit = (
            not multiple
            and associationadmin.hasroute('edit')
            and associationadmin.isGranted('EDIT')
            and btn_edit
        ) %}
        {% set display_btn_add = (
            associationadmin.hasroute('create')
            and associationadmin.isGranted('CREATE')
            and btn_add
        ) %}
        {% if display_btn_show or display_btn_edit or display_btn_add %}
            {# prepare the JSON data for the action buttons #}
            {% set json_field_description = sonata_field_description_json() %}
            <div id="field_actions_{{ id }}" class="field-actions">
            <span class="btn-group">
                {% if display_btn_show %}
                    <a  role="button" href="#"
                        class="btn btn-info btn-sm sonata-ba-action"
                        data-field-action="show-association"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_show|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-eye"></i>
                        <span>{{ btn_show|trans({}, btn_catalogue) }}</span>
                    </a>
                {% endif %}
                {% if display_btn_edit %}
                    <a  role="button" href="#"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="edit-association"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_edit|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-pencil"></i>
                        <span>{{ btn_edit|trans({}, btn_catalogue) }}</span>
                    </a>
                {% endif %}
                {% if display_btn_add %}
                    <a  href="{{ associationadmin.generateUrl('create') }}"
                        class="btn btn-success btn-sm sonata-ba-action"
                        data-field-action="create-association"
                        data-field-description="{{ json_field_description }}"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        <span>{{ btn_add|trans({}, btn_catalogue) }}</span>
                    </a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    {% endif %}
{% endspaceless %}
