{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{% trans from 'SonataAdminBundle' %}title_dashboard{% endtrans %}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}

    <div class="span7">
        {% for group in groups %}
            <table class="zebra-striped sonata-ba-list bordered-table">
                <thead>
                    <tr>
                        <th colspan="3">{{ group.label|trans({}, 'SonataAdminBundle') }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for admin in group.items %}
                        <tr>
                            <td class="sonata-ba-list-label">{{ admin.label|trans({}, admin.translationdomain) }}</td>
                            <td>
                                {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                    <a href="{{ admin.generateUrl('create')}}">
                                        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}"  alt="{%- trans from 'SonataAdminBundle' %}link_add{% endtrans -%}" />
                                        {%- trans from 'SonataAdminBundle' %}link_add{% endtrans -%}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                    <a href="{{ admin.generateUrl('list')}}">
                                        <img src="{{ asset('bundles/sonataadmin/famfamfam/application_view_list.png') }}" alt="{%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}" />
                                        {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}