{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{%- set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null -%}

<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}
        {#                 DEBUG: sonata_admin.adminPool.getOption('js_debug'), #}
        <meta data-sonata-admin='{{ {
            config: {
                CONFIRM_EXIT: sonata_admin.adminPool.getOption('confirm_exit'),
                USE_SELECT2: sonata_admin.adminPool.getOption('use_select2'),
                USE_ICHECK: sonata_admin.adminPool.getOption('use_icheck'),
                USE_STICKYFORMS: sonata_admin.adminPool.getOption('use_stickyforms'),
                DEBUG: true,
            },
            translations: {
                CONFIRM_EXIT: 'confirm_exit'|trans({}, 'SonataAdminBundle'),
            },
        }|json_encode()|raw }}'
        >

        {% block stylesheets %}
            {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
                <link rel="stylesheet" href="{{ asset(stylesheet) }}">
            {% endfor %}
        {% endblock %}

        {% block javascripts %}
            {% block sonata_javascript_config %}
            {% endblock %}

            {% block sonata_javascript_pool %}
                {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
                    <script src="{{ asset(javascript) }}"></script>
                {% endfor %}
            {% endblock %}

            {# localize moment #}
            {% set localeForMoment = canonicalize_locale_for_moment() %}
            {% if localeForMoment %}
                <script src="{{ asset(
                    'bundles/sonatacore/vendor/moment/locale/' ~
                    localeForMoment ~
                    '.js'
                ) }}"></script>
            {% endif %}

            {# localize select2 #}
            {% if sonata_admin.adminPool.getOption('use_select2') %}
                {% set localeForSelect2 = canonicalize_locale_for_select2() %}
                {% if localeForSelect2 %}
                    <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ localeForSelect2 ~ '.js') }}"></script>
                {% endif %}
            {% endif %}
        {% endblock %}

        <title>
        {% block sonata_head_title %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|striptags|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                        {% if not loop.first %}
                            {% if loop.index != 2 %}
                                &gt;
                            {% endif %}

                            {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                            {%- set label = menu.label -%}
                            {%- if translation_domain is not same as(false) -%}
                                {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                            {%- endif -%}

                            {{ label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}
        </title>
    </head>
    <body
            {% block body_attributes -%}
                class="sonata-bc layout-navbar-fixed
                {% if app.request.cookies.get('sonata_sidebar_hide') -%}
                    sidebar-collapse
                {%- endif -%}"
            {%- endblock -%}
    >


    <div class="wrapper">

        {% block sonata_header %}
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                {% block sonata_header_noscript_warning %}
                    <noscript>
                        <div class="noscript-warning">
                            {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
                        </div>
                    </noscript>
                {% endblock %}

                {% block sonata_nav %}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a></li>
                        </ul>
                        {% block sonata_breadcrumb %}
                            {% if _breadcrumb is not empty or action is defined %}
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        {% if _breadcrumb is empty %}
                                            {% if action is defined %}
                                                {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                                    {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                                    {%- set label = menu.label -%}
                                                    {%- if translation_domain is not same as(false) -%}
                                                        {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                                    {%- endif -%}

                                                    {% if not loop.last %}
                                                        <li class="breadcrumb-item">
                                                            {% if menu.uri is not empty %}
                                                                <a href="{{ menu.uri }}">
                                                                    {% if menu.extra('safe_label', true) %}
                                                                        {{- label|raw -}}
                                                                    {% else %}
                                                                        {{- label|truncate(100) -}}
                                                                    {% endif %}
                                                                </a>
                                                            {% else %}
                                                                <span>{{ label|truncate(100) }}</span>
                                                            {% endif %}
                                                        </li>
                                                    {% else %}
                                                        <li class="breadcrumb-item active" aria-current="page">{{ label|truncate(100) }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% else %}
                                            {{ _breadcrumb|raw }}
                                        {% endif %}
                                    </ol>
                                </nav>
                            {% endif %}
                        {% endblock sonata_breadcrumb %}

                        {% block sonata_top_nav_menu %}
                            {% if app.user and is_granted(sonata_admin.adminPool.getOption('role_admin')) %}
                                <ul class="navbar-nav ml-auto">
                                        {% block sonata_top_nav_menu_add_block %}
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </a>
                                                {% include get_global_template('add_block') %}
                                            </li>
                                        {% endblock %}
                                        {% block sonata_top_nav_menu_user_block %}
                                            <li class="dropdown user-menu">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    {% include get_global_template('user_block') %}
                                                </ul>
                                            </li>
                                        {% endblock %}
                                </ul>
                            {% endif %}
                        {% endblock %}
                {% endblock sonata_nav %}
            </nav>
        {% endblock sonata_header %}

        {% block sonata_wrapper %}
            {% block sonata_left_side %}
                <aside class="main-sidebar sidebar-dark-primary">

                    {% block logo %}
                        {% apply spaceless %}

                            <a class="brand-link logo-switch" href="{{ path('sonata_admin_dashboard') }}">
                                {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') %}
                                    <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" class="brand-image-xl logo-xs">
                                    <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" class="brand-image-xs logo-xl" style="left: 12px">
                                {% elseif 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                                    <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" class="brand-image img-circle elevation-3" style="opacity: .8">
                                {% endif %}
                                {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                                    <span class="brand-text font-weight-light">{{ sonata_admin.adminPool.title }}</span>
                                {% endif %}
                            </a>
                        {% endapply %}
                    {% endblock %}

                    <div class="sidebar">
                        {% block sonata_side_nav %}

                            {% block sonata_sidebar_search %}
                                {% if sonata_admin.adminPool.getOption('search') %}
                                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                        <form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
                                            <div class="input-group custom-search-form">
                                                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                                <span class="input-group-btn">
                                                <button class="btn btn-flat btn-dark border border-light rounded-right" type="submit">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endblock sonata_sidebar_search %}

                            {% block side_bar_before_nav %} {% endblock %}
                            {% block side_bar_nav %}
                                <nav class="mt-2">
                                    {{ knp_menu_render('sonata_admin_sidebar', {template: get_global_template('knp_menu_template')}) }}
                                </nav>
                            {% endblock side_bar_nav %}
                            {% block side_bar_after_nav %}
                                <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
                                    {% block side_bar_after_nav_content %}
                                    {% endblock %}
                                </p>
                            {% endblock %}
                        {% endblock sonata_side_nav %}
                    </div>
                </aside>
            {% endblock sonata_left_side %}

            <div class="content-wrapper">
                {% block sonata_page_content %}
                    <section class="content-header ">

                        {% block sonata_page_content_header %}
                            {% block sonata_page_content_nav %}
                                {% if _navbar_title is not empty
                                  or _tab_menu is not empty
                                  or _actions is not empty
                                  or _list_filters_actions is not empty
                                 %}
                                    <nav class="navbar navbar-default navbar-expand-lg rounded" style="background: #f8f8f8; border: 1px solid #e7e7e7" role="navigation">
                                        <div class="container-fluid">
                                            {% block tab_menu_navbar_header %}
                                                {% if _navbar_title is not empty %}
                                                    <button class="btn navbar-brand ml-3" href="#">{{ _navbar_title|raw }}</button>

                                                {% endif %}
                                            {% endblock %}

                                            <div class="collapse navbar-collapse">
                                                <div class="navbar-nav mr-auto">
                                                    {% if _tab_menu is not null %}
                                                        {{ _tab_menu|raw }}
                                                    {% endif %}
                                                </div>

                                                <div class="navbar-nav">
                                                    {% if _list_filters_actions is not empty %}
                                                        {{ _list_filters_actions|raw }}
                                                    {% endif %}

                                                    {% block sonata_admin_content_actions_wrappers %}
                                                        {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}

                                                                {% if _actions|split('</a>')|length > 2 %}
                                                                    <div class="nav-item dropdown sonata-actions">
                                                                        <button class="nav-link btn dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></button>
                                                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                                            {{ _actions|raw }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="nav-item sonata-actions">
                                                                        {{ _actions|raw }}
                                                                    </div>
                                                                {% endif %}

                                                        {% endif %}
                                                    {% endblock sonata_admin_content_actions_wrappers %}

                                                    {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                                        <div class="nav-item btn-group">
                                                            {% for mode, settings in admin.listModes %}
                                                                <button
                                                                        class="nav-link btn {#btn-outline-secondary#} navbar-btn btn-sm{% if admin.getListMode() == mode %} btn-primary active{% else %} btn-default{% endif %}"
                                                                        onclick="window.location.href='{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}'"
                                                                ><i class="{{ settings.class }}"></i></button>


                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                {% endif %}
                            {% endblock sonata_page_content_nav %}
                        {% endblock sonata_page_content_header %}
                    </section>

                    <section class="content">
                        {% block sonata_admin_content %}

                            {% block notice %}
                                {% include '@SonataTwig/FlashMessage/render.html.twig' %}
                            {% endblock notice %}

                            {% if _preview is not empty %}
                                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                            {% endif %}

                            {% if _content is not empty %}
                                <div class="sonata-ba-content">{{ _content|raw }}</div>
                            {% endif %}

                            {% if _show is not empty %}
                                <div class="sonata-ba-show">{{ _show|raw }}</div>
                            {% endif %}

                            {% if _form is not empty %}
                                <div class="sonata-ba-form">{{ _form|raw }}</div>
                            {% endif %}

                            {% if _list_filters is not empty %}
                                <div class="row">
                                    {{ _list_filters|raw }}
                                </div>
                            {% endif %}

                            {% if _list_table is not empty %}
                                <div class="row">
                                    {{ _list_table|raw }}
                                </div>
                            {% endif %}
                        {% endblock sonata_admin_content %}
                    </section>
                {% endblock sonata_page_content %}
            </div>

            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 3.0.2
                </div>
                <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
                reserved.
            </footer>

            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>

            <div id="sidebar-overlay"></div>
        {% endblock sonata_wrapper %}
    </div>

    {% if sonata_admin.adminPool.getOption('use_bootlint') %}
        {% block bootlint %}
            {# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
            <script type="text/javascript">
                javascript:(function(){var s=document.createElement("script");s.onload=function(){bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});};s.src="https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";document.body.appendChild(s)})();
            </script>
        {% endblock %}
    {% endif %}

    </body>
</html>
