{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('create') }}">
                <i class="icon-plus"></i>
                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasRoute('list') and  admin.isGranted('LIST')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">
                <i class="icon-list"></i>
                {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}{% if action is defined %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endif %}{% endblock %}

{% block content %}

    Redefine the content block in your action template

{% endblock %}
