{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div id="sonata-ba-field-container-{{ admin.uniqid }}-{{ field_element.id}}" class="sonata-ba-field sonata-ba-field-{{ edit }}-{{ inline }} {% if field_element.haserrors %}sonata-ba-field-error{% endif %}">
    {% block field %}{{ form_field(field_element) }}{% endblock %}

    <div class="sonata-ba-field-error-messages">
        {% block errors %}{{ form_errors(field_element) }}{% endblock %}
    </div>
</div>
