{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ object.id }}">
    {% if field_description.options.identifier is defined %}
        <a href="{{ admin.generateUrl('edit', {'id': object.id}) }}">
            {% block field %}{{ value }}{% endblock %}
        </a>
    {% else %}
        {{ block('field') }}
    {% endif %}
</td>