{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'BaseApplicationBundle::layout.twig' %}

{% block title %}
    {% if object.id %}
        {% trans 'title_edit' from 'BaseApplicationBundle'%}
    {% else %}
        {% trans 'title_create' from 'BaseApplicationBundle'%}
    {% endif %}
{% endblock %}

{% block actions %}
    <ul>
        <li><a href="{{ url(urls.create.url) }}">{% trans "link_action_create" from "BaseApplicationBundle" %}</a></li>
        <li><a href="{{ url(urls.list.url) }}">{% trans "link_action_list" from "BaseApplicationBundle" %}</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% block form %}
        <form action="{{ url(urls.update.url, {'id': object.id}) }}" method="POST">

            {{ form|render_hidden }}

            {% for field in fields %}
                {{ field|render_form_element(form, object, {'urls' : urls}) }}
            {% endfor %}

            {% if object.id %}
                <input type="submit" value="{% trans "btn_update" from "BaseApplicationBundle" %}"/>
            {% else %}
                <input type="submit" value="{% trans "btn_create" from "BaseApplicationBundle" %}"/>
            {% endif %}
        </form>
    {% endblock %}
{% endblock %}