{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
        <ul>
            {% if admin.hasRoute('list') and admin.isGranted('LIST')%}
                <li class="btn sonata-action-element"><a href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a></li>
            {% endif %}

            {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                <li class="btn sonata-action-element"><a href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">

        <h1>{% trans from 'SonataAdminBundle' %}title_batch_confirmation{% endtrans %}</h1>

        {% if data.all_elements %}
            {% trans from 'SonataAdminBundle' %}message_batch_all_confirmation{% endtrans %}
        {% else %}
            {% transchoice data.idx|length with {'%count%': data.idx|length} from 'SonataAdminBundle' %}message_batch_confirmation{% endtranschoice %}
        {% endif %}

        <div class="actions">
            <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                <input type="hidden" name="confirmation" value="ok" />
                <input type="hidden" name="data" value="{{ data|json_encode }}" />

                <div style="display: none">
                    {{ form_rest(form) }}
                </div>

                <input type="submit" class="btn danger" value="{% trans from 'SonataAdminBundle' %}btn_execute_batch_action{% endtrans %}" />

                {% if admin.hasRoute('list') and admin.isGranted('LIST') %}
                    {% trans from 'SonataAdminBundle' %}delete_or{% endtrans %}

                    <a class="btn success" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
