{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if not sonata_admin.field_description.hasassociationadmin%}
    {{ value|render_relation_element(sonata_admin.field_description) }}
{% elseif sonata_admin.edit == 'inline' %}
    {% for field_description in sonata_admin.field_description.associationadmin.formfielddescriptions %}
        {{ form_row(form.getChild(field_description.name))}}
    {% endfor %}

{% else %}

    <div id="field_container_{{ id }}">

        {% if sonata_admin.edit == 'list' %}
            <span id="field_widget_{{ id }}" >
                {% if sonata_admin.admin.id(value) %}
                    {% render 'SonataAdminBundle:Helper:getShortObjectDescription' with {}, {
                        'query': {
                            'code':     sonata_admin.field_description.associationadmin.code,
                            'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                            'uniqid':   sonata_admin.field_description.associationadmin.uniqid
                        }
                    }%}
                {% endif %}
            </span>
            <span style="display: none" >
                {{ form_widget(form) }}
            </span>
        {% else %}
            <span id="field_widget_{{ id }}" >
                {{ form_widget(form) }}
            </span>
        {% endif %}

        <span id="field_actions_{{ id }}" >

            {% if sonata_admin.edit == 'list' %}
                <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('list') }}"
                    onclick="start_field_dialog_form_list_{{ id }}(event)"
                    class="sonata-ba-action"
                    style="{% if not sonata_admin.field_description.associationadmin.isGranted('LIST')%}display:none{% endif %}"
                    >
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/application_view_list.png') }}"
                         alt="{% trans from 'SonataAdminBundle' %}btn_add{% endtrans %}"
                    />
                </a>
            {% endif %}

            <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                onclick="start_field_dialog_form_add_{{ id }}(event)"
                class="sonata-ba-action"
                style="{% if not sonata_admin.field_description.associationadmin.isGranted('CREATE')%}display:none{% endif %}"
                >
                    <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}"
                        alt="{% trans from 'SonataAdminBundle' %}btn_add{% endtrans %}"
                    />
            </a>
        </span>

        <div class="container sonata-ba-modal sonata-ba-modal-edit-one-to-one" style="display: none" id="field_dialog_{{ id }}">

        </div>
    </div>

    {% include 'SonataAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
{% endif %}
