{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'form_div_layout.html.twig' %}

{#
    Inspired from MopaBootstrapBundle: https://github.com/phiamo/MopaBootstrapBundle
#}

{% block choice_widget_collapsed %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock form_widget_simple %}

{% block choice_widget_expanded %}
    {% spaceless %}

        {% set label_attr = label_attr|merge({
            class: classlist(
                label_attr.class|default,
                {
                    ('checkbox-' ~ widget_type): multiple and widget_type|default,
                    ('radio-' ~ widget_type): widget_type|default
                }
            )
        }) %}

        {% set _child_widgets %}
            {% for child in form %}
                {% set _widget %}
                    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
                        <span class="control-indicator"></span>
                        {{ child.vars.label|trans({}, translation_domain) }}
                    </label>
                {% endset %}
                {% if widget_type is defined and widget_type != 'inline' %}
                    <div class="{{ multiple ? 'checkbox' : 'radio' }}">
                        {{ _widget }}
                    </div>
                {% else %}
                    {{ _widget }}
                {% endif %}
            {% endfor %}
        {% endset %}

        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {{ _child_widgets }}
                {{ block('form_message') }}
            </div>
        {% else %}
            {{ _child_widgets }}
            {{ block('form_message') }}
        {% endif %}

    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}

        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% set _input_widget %}
            <input type="checkbox" {{ block('widget_attributes') }} value="{{ value|default('') }}" {{ checked ? 'checked' }} />
        {% endset %}

        {# not a choice widget ? #}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            <div class="checkbox">
                <label for="{{ id }}" class="{{ classlist({'checkbox-inline': inline|default(false)}) }}">
                    {{ _input_widget }}
                    <span class="control-indicator"></span>
                    {% if label_render is defined and widget_checkbox_label in ['both', 'widget'] %}
                        {{ label|trans({}, translation_domain) }}
                    {% endif %}
                </label>
            </div>
            {{ block('form_message') }}
        {% else %}
            {{ _input_widget }}
        {% endif %}

    {% endspaceless %}
{% endblock checkbox_widget %}

{% block sonata_type_model_autocomplete_widget %}
    {% include template %}
{% endblock sonata_type_model_autocomplete_widget %}
