{% if admin.subClasses is empty %}
    <a class="btn btn-link btn-flat" href="{{ action.url }}">
        <i class="fa fa-{{ action.icon }}" aria-hidden="true"></i>
        {{ action.label|trans({}, action.translation_domain|default('SonataAdminBundle')) }}
    </a>
{% else %}
    <button type="button" class="btn btn-link btn-flat dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-{{ action.icon }}" aria-hidden="true"></i>
        {{ action.label|trans({}, action.translation_domain|default('SonataAdminBundle')) }}
        <span class="caret"></span>

        <div class="dropdown-menu" role="menu">
            {% for subclass in admin.subclasses|keys %}
                <a class="dropdown-item" href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass|trans({}, action.translation_domain|default('SonataAdminBundle')) }}</a>
            {% endfor %}
        </div>
    </button>
{% endif %}
